ion-header {
    --background: transparent;
    --border-color: transparent;
    --ion-toolbar-background: transparent;
    --ion-toolbar-border-color: transparent;
    --box-shadow: none;
    --ion-shadow-color: transparent;
  }