<app-header titulo="Input & Forms"></app-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label> Name : {{ name || "Write your name"}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  </ion-list>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>Form template : Valido {{ formulario.valid }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="email@domain.com"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        ></ion-input>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder=""
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      expand="full"
      color="primary"
      type="submit"
      [disabled]="formulario.invalid"
    >
      Send</ion-button
    >
  </form>
</ion-content>
